coverage.xml
key.file
__pycache__
config.json
venv/
venv2/
*.egg-info/
*dia~
.vscode/
.coverage
polycompound.log
!tests/resources/*config.json
build/
dist/
*.pyc
pab.log
venv310/
htmlcov/

envs.toml.backup

# Allow config file in example
!examples/guide-example/config.json
